version: "2"
services:
  higlass-server:
    image: higlass-server-dev:latest
    ports:
      - 8000:80
    environment:
      - REDIS_HOST="redis"
      - REDIS_PORT=6379
      - S3_BUCKET_HGS=${S3_BUCKET_HGS}
      - AWS_ACCESS_KEY_ID=${S3_BUCKET_HGS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${S3_BUCKET_HGS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${S3_BUCKET_HGS_REGION}
    security_opt:
      - apparmor:unconfined
    devices:
      - "/dev/fuse"
    cap_add:
      - SYS_ADMIN
    links:
      - redis
  redis:
    image: redis:6-alpine
    command: redis-server
    environment:
      - REDIS_REPLICATION_MODE=master
    

