version: "2"
services:
  higlass-server:
    # TODO: move the repository under the `gehlenborglab` organization on Docker Hub.
    image: mkeller7/cistrome-explorer-higlass-server:latest
    ports:
      - 80:80
    environment:
      - REDIS_HOST="redis"
      - REDIS_PORT=6379
      - S3_BUCKET_HGS=${S3_BUCKET_HGS}
      - AWS_ACCESS_KEY_ID=${S3_BUCKET_HGS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${S3_BUCKET_HGS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${S3_BUCKET_HGS_REGION}
    security_opt:
      - apparmor:unconfined
    devices:
      - "/dev/fuse"
    cap_add:
      - SYS_ADMIN
    links:
      - redis
    mem_limit: "12000000k"
  redis:
    image: "redis:6-alpine"
    command: redis-server
    environment:
      - REDIS_REPLICATION_MODE=master
    mem_limit: "4000000k"